// Visually hide an element (Commonly used for hiding form input labels according to WCAG) but still keep it active
// Element is one may say technically visible but practically hidden

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
